@import "tailwindcss";

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-float {
    animation: float 4s ease-in-out infinite;
  }

   /*
  .flip-card{
    perspective: 1000px;
  }
  .flip-card-inner{
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  .flip-card-front,
  .flip-card-back{
    position: absolute;
    backface-visibility: hidden;
  }
  .flip-card-back{
      transform: rotateY(180deg);
  } */


  @layer utilities {
    .perspective {
      perspective: 1000px;
    }
    .transform-style-preserve-3d {
      transform-style: preserve-3d;
    }
    .backface-hidden {
      backface-visibility: hidden;
    }
    .rotate-y-180 {
      transform: rotateY(180deg);
    }
  }
  